div.background2 {
    background-image: url("../images/top.jpg");
    background-size: cover;
    width: 100%;
    height: 70%;
    border: 1px solid white;
}

div.transbox2 {
    font-size: 32px;
    text-align: left;
    margin-top: 110px;
    margin-left: 5%;
    border: 1px hidden white;
}

.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    z-index: 996;
    border-radius: 50%;
    transition: all 0.4s;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

.center:hover {
    color: white;
    border: 2px solid rgb(25, 119, 0);
    border-bottom-color: hidden;
    border-right-color: white;
    border-top-color: white;
    border-left-color: white;
}

.on {
    /* background-color: red; */
    color: white;
    padding: 6px;
    border: 1px solid white;
    font-size: 15px;
    text-decoration: none;
}

.on:hover {
    color: white;
    background-color: green;
    border: 1px solid green;
}